<form action="http://localhost:2200/api/users/auth" method="POST">
  <div class="new_user">
    <img src="images/avatar.png" alt="" class="imgav">
    <div class="form-group">
      <input type="text" name="email" placeholder="ShakoKinyamba@gmail.com">
    </div>
    <div class="form-group">
      <input type="text" name="password" placeholder="***********">
    </div>
    <div class="form-group">
      <button type="submit" class="btnc">Connexion</button>
    </div>
    <div class="form-group">
      <a href="http://localhost:2200/inscription" class="link">Create Account</a>
    </div>

  </div>

</form>