<form action="http://localhost:2200/api/users/register" method="POST">
  <div class="new_user">
    <img src="images/avatar.png" alt="" class="imgav">
    <div class="form-group">
      <input type="text" name="name" placeholder="Your name">
    </div>
    <div class="form-group">
      <input type="text" name="email" placeholder="ShakoKinyamba@gmail.com">
    </div>
    <div class="form-group">
      <input type="text" name="password" placeholder="***********">
    </div>
    <div class="form-group">
      <button type="submit" class="btnc">Create Account</button>
    </div>
    <div class="form-group">
      <a href="http://localhost:2200/connexion" class="link">Log in</a>
    </div>
  </div>
</form>