<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/index.css">
  <title>Bienvenu</title>
</head>

<body>
  <header class="header">
    <span class="log">SHULE KWA WOTE</span>
    <nav class="header-container">
      <ul class="list-item">
        <li class="items"><a href="">Accueil</a></li>
        <li class="items"><a href="">Apropos</a></li>
        <li class="items"><a href="/deconnexion">Deconnexion</a></li>
      </ul>
    </nav>
  </header>