<% for(let i=0;i<cours.length;i++){ %>
<div class="main">
  <div class="container">
    <img src=<%= cours[i].picture %> alt="">
    <p class="title">Titre: <%= cours[i].titre %></p>
    <div class="action">
      <a href="/lecture" class="btn">Ouvrir le cours</a>
    </div>
  </div>
</div>
<% } %>