<%- include("./includes/header.ejs") %>
<main style="margin: 20px;">
  <video width="100%" controls muted="muted" autoplay>
    <source src="cours/python.mp4" type="video/mp4">
  </video>
</main>
<%- include("./includes/footer.ejs") %>